.input_label_pro {
  width: 300px;
}
.input_pro {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 5px;
  border-radius: 5px;
}
.input_div_in_pro {
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 0;
}
.performance {
  height: 200px;
}
.product {
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
