.content{
  padding: 20px;
}

.btn{
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin: 0 5px 5px 0;
  background-color: #016064;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}


.coverImg{
  background-color: none;
}